body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex: 1 0 1;
    height: auto;
    width: 430px;
}

#screen {
    border: solid 1px black;
}

#buttons {
    border: solid 1px black;
}

button {
    border: solid 1px black;
}
