body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.calculator {
    border: solid 1px black;
}

#screen {
    border: solid 1px black;
}

#buttons {
    border: solid 1px black;
}

button {
    border: solid 1px black;
}
